:root {
	--back-color: #ffffff;
	--back-soft-color: #ffffff;

	--light-color: #f3f0eb;
	--light-color-soft: #f1f1f1;

	--accent-color: #eca52c;
	--accent-back: #f5b13d;
	--accent-color-soft: #c2ab9e;

	--neutral-color: rgb(230, 230, 230);
	--neutral-color-light: rgb(213, 213, 212);
	--neutral-color-lightgray: #727272;
	--neutral-color-grey: #444444;
	--neutral-color-dark: #000000;

	--positive-color: #4c915d;
	--warn-color: #ff8718;
	--danger-color: #c53c32;

	--text-color: var(--neutral-color-dark);
	--text-anti-color: var(--back-soft-color);
	--soft-text-color: #0f0f0f;

	--accent-font: 'Onest', 'sans-setif', 'arial';
	--main-font: 'Onest', 'sans-setif', 'arial';

	--header-height: 234px;
	--major-header-height: 196px;
	--footer-margin: 60px;

	@media only screen and (max-width: 1600px) {
		--header-height: 212px;
		--major-header-height: 174px;
	}

	@media only screen and (max-width: 1240px) {
		--header-height: 124px;
		--major-header-height: 86px;
	}
	@media only screen and (max-width: 820px) {
		--header-height: 102px;
		--major-header-height: 64px;
	}

	// @include sm {
	// 	--header-height: 60px;
	// }
	// @include xs {
	// 	--header-height: 60px;
	// }
}

::selection {
	background-color: steelblue;
}