extends ../parts/doctype

block head
	link(rel="stylesheet" href="/css/style.css")

block body

	#wrapper.common-template

		include ../parts/header

		main#main
			block content

		include ../parts/footer

	include ../parts/popups
	include ../parts/modals

	include ../parts/burger-menu

	include ../parts/scripts