extends ../templates/simply

block vars
	- const title = 'Страница не найдена'
	- const description = 'description'
	- const keywords = ''

block content
	.not-found
		h1 404
		p Cтраница не&nbsp;найдена