extends ../templates/common

block vars
	- const title = 'Пользовательское соглашение'
	- const description = 'description'
	- const keywords = ''

block content

	article.container.article
		h1.title #{title}
		p Настоящее право предоставляется