extends ../templates/common

block vars
	- const title = 'Политика конфиденциальности'
	- const description = 'description'
	- const keywords = ''

block content

	article.container.article
		h1 #{title}

		p Настоящая Политика конфиденциальности персональных данных
