footer.footer
	.container
		ul.footer__list
			li
				a(href="/legal.html") Политика конфиденциальности
			li
				a(href="/agreement.html") Пользовательское соглашение
			li
				a(href="/rules.html") Правила сервиса
